language: python

python:
    - "2.7"
    - "3.4"

env:
    - "PYWR_SOLVER=cyglpk"
    - "PYWR_SOLVER=glpk"
    - "PYWR_SOLVER=lpsolve"

before_install:
    - sudo apt-get update -qq

    # miniconda
    - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b
    - export PATH=/home/travis/miniconda/bin:$PATH
    - conda update --yes conda

    # dependencies
    - conda install --yes python=$TRAVIS_PYTHON_VERSION atlas numpy scipy matplotlib pytest dateutil pandas statsmodels networkx xlrd cython six ipython

    # pyglpk v0.4
    - sudo apt-get install -qq libgmp3-dev libglpk-dev glpk
    - git clone https://github.com/bradfordboyle/pyglpk.git
    - pushd pyglpk && git checkout v0.4-dev-api && python setup.py install && popd

install:
    - python setup.py install

script:
    - py.test tests --solver ${PYWR_SOLVER}

notifications:
    email: false
