.node {
    stroke-width: 1.5px;
    stroke: #333;
    fill: grey;
}
.node-input {
    fill: dodgerblue;
}
.node-link {
    fill: grey;
}
.node-output {
    fill: gold;
}
.node-storage {
    fill: firebrick;
}
.node-reservoir {
    fill: firebrick;
}
